.content-wrapper {
    flex: 9;
    background-color: #000;
    border-left: rgb(47, 51, 54) 1px solid;
    border-right: rgb(47, 51, 54) 1px solid;
    position: relative;
    overflow-y: scroll;
    height: 100vh;
    max-width: 500px;
}

.content-wrapper::-webkit-scrollbar {
    width: 0;
}




.content-header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    position: relative;
    position: sticky;
    top: 0;
    left: 0;
}

.content-header h2 {
    cursor: pointer;
}