.home-wrapper {
    display: flex;
    min-height: 100vh;
    color: rgb(214, 217, 219);
    height: 100vh;
    position: relative;

}

.message-box {
    background-color: black;
    position: absolute;
    right: 70px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 50px;
    font-size: 1.5rem;
    box-shadow: rgba(255, 255, 255, 0.56) 0px 1px 10px 4px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0 5px;
}

.message-box:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1262px) {

    .message-box {
        display: none;
    }
}